# Base settings
LOG_LEVEL=INFO
LOG_PATH=
LOG_ECHO=false

# Telegram settings
TELEGRAM_TOKEN=<token>
TELEGRAM_CHAT_ID=<chat_id>

# Dim.Ria settings
DIM_RIA_API_KEY=<api-key>
DIM_RIA_CITY_IDS=[25]

# OLX settings
OLX_API_KEY=<api-key>
