# Base settings
LOG_LEVEL=INFO
LOG_PATH=
LOG_ECHO=false

# Telegram settings
TELEGRAM_TOKEN=<token>
TELEGRAM_CHAT_ID=<chat_id>

# Dim.Ria settings
DIM_RIA_API_KEY=<api-key>
DIM_RIA_CITY_IDS=[25]
DIM_RIA_DATA_FILE=data/dim_ria.pkl

# OLX settings
OLX_API_KEY=<refresh-token>
OLX_CLIENT_ID=<client-id>
OLX_CLIENT_SECRET=<client-secret>
OLX_DATA_FILE=data/olx.pkl
